name: Build APK

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    - run: |
        sudo apt update
        sudo apt install -y python3-pip
        pip install buildozer
    - run: |
        mkdir -p ~/.android
        echo "8933bad161af4178b1185d1a37fbf41ea5269c55" > ~/.android/android-sdk-license
    - run: buildozer android debug
    - uses: actions/upload-artifact@v4
      if: success()
      with:
        name: apk
        path: bin/*.apk